<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course list</title>
</head>
<body>
    <h1>Course list page</h1>
    <div>
        <button><a href="{% url "course_create" %}">Create course</a></button>
      
        
    </div>



    {% for course in course_list  %}
    <div>
     
        <h1>{{course.title}}</h1>
        <p>Название курса: {{ course.title }}</p>
        <p>Описание курса: {{ course.description}}</p>
        <p>Общее время курса: {{ course.average_time }} часов</p>
        <button><a href="{% url "course_delete" pk=course.pk %}">Delete course</a></button>
        <button><a href="{% url "course_update" pk=course.pk %}">Update course</a></button>
        <button><a href="{% url "course_detail_module_list" pk=course.pk %}">Detail course and Module list</a></button>
        
        
    {% endfor %}



    </div>

    
</body>
</html>