<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson delete</title>
</head>
<body>
    <button>

        <p style="font-size: 20px;"><a style="text-decoration: none; color: coral;" href="{% url 'course_list' %}">Back to all courses</a></p>
    </button>
    <form method="POST" novalidate>
        {% csrf_token %}
    
        <input style="font-size: 20px;text-decoration: none; color: coral;padding: 30px;margin: 20px;" type="submit" value="Delete lesson">
    </form>
   
    <div class="post_info" style="font-size: 30px; padding: 30px;">
    <h1>LESSON DELETE INFO:</h1>
     <p>Название урока: {{ lesson.title }}</p>
    <p>Контент урока: {{ lesson.content }}</p>
    <p>duration_time: {{ lesson.duration_time }} часов</p>
    <p>Модуль урока: {{ lesson.module }} </p>
    
    
    
    
    
    
    
    
        
     
    
    
    
    </div>
</body>
</html>



    
 

